tmp/
components/
managed_components/
build/
build_ninja/
dist/
.vscode/
.devcontainer/
sdkconfig.old
sdkconfig
dependencies.lock
.env
releases/
main/assets/lang_config.h
main/mmap_generate_emoji.h
.DS_Store
.cache
*.pyc
*.log
build_log*.txt
idf_py_stdout_output_*
idf_py_stderr_output_*
*.bin
mmap_generate_*.h
.clangd
